.wrapper {
			max-width: 600px;
			margin: 2rem auto;
			text-align: center;
		}

		.btn {
			display: inline-block;
		    padding: 8px 10px;
		    text-decoration: none;
		    text-transform: uppercase;
		    color: white;
		    border-radius: 5px;	
		}

		.btn-sample {
			background: #FF5722;
		    border: 2px solid #b75334;
		}

		.btn-json {
			background-color: teal;
			border: 2px solid black;
		}

		.btn-post {
			background-color: #8f7cf5;
			border: 2px solid #584e8e;
		}

		.post-title {
			color: white;
		}

		.btn-form {
			background-color: #c3c096;
			border: 2px solid #c3c100;
		}

		.post-container li {
			border: 3px solid #908cd4;
   			background: #88b6ca;
    		padding: 20px;
    		border-radius: 20px;
    		margin-bottom: 1rem;
		}

		ul {
			list-style: none;
		}

		li {
			border: 3px solid crimson;
			background: #ff6b6b;
			margin-bottom: 1rem;
		}

		input[type="text"],
		input[type="textarea"] {
			height: 20px;
    		width: 252px;
    		margin-bottom: 10px;
    		font-size: 1rem;
		}

